* {
  box-sizing: border-box;
}

.basket {
  background-image: url(/src/assets/bg_body.png);
  display: flex;
  flex-direction: column;
}

.buttonReturn,
.buttonValide {
  margin: 5% auto 5% auto;
  padding: 2%;
  width: 50%;
  background-color: #6dcd69;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  /* text-decoration: none; */
}

.basket a {
  text-decoration: none;
  color: white;
}
