.imgBtnBasketContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid gray;
  transition: 0.2s ease-in-out;
}

.imgBtnBasketContainer:hover {
  background: #9fd968;
  box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
}

.imgBtnBasket {
  width: 25px;
}

.txtBtnBasket {
  display: none;
}

@media screen and (min-width: 795px) {
  .imgBtnBasketContainer {
    width: 7vw;
  }
}
