footer {
  width: 100vw;
  height: 50px;
  padding:2%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

.socialNet {
  display: flex;
}

footer > div > a > img {
  margin-left: 15px;
  width: 30px;
  
}

p{
  font-weight:bold;
}

