header .imgLogoHeader {
  height: auto;
  width: 30%;
  margin-top: 20px;
  margin-bottom: -10px;
}

header {
  display: flex;
  justify-content: space-between;
  --_m: from 90deg at bottom;
  padding-bottom: var(--s);
  background: conic-gradient(
      var(--_m) var(--d) left 50%,
      #0004 135deg,
      #0009 0 270deg,
      #0000 0
    )
    50% / var(--s);
}

header .idBasket {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 70%;
}

.top {
  padding-bottom: 40px;
  --s: 70px; /* control the size */
  --d: 0px; /* control the depth */
  mask: conic-gradient(var(--_m), #0000 70%, #000 0) 50% / var(--s);
  background-color: #098305; /* the main color */
}

.idBasket h3 {
  margin: auto;
  margin-bottom: 10px;
  color: white;
  font-size: 2.7vw;
}

.idBasket button {
  margin: auto 2% auto 0%;
  margin-bottom: 10px;
}
