header .imgLogoHeader {
  width: 100px;
  height: auto;
}

@media screen and (min-width: 794px) {
  header .imgLogoHeader {
    width: 180px;
  }
}

@media screen and (min-width: 1000px) {
  header .imgLogoHeader {
    width: 200px;
  }
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  --_m: from 90deg at bottom;
  padding-bottom: var(--s);
  background: conic-gradient(
      var(--_m) var(--d) left 50%,
      #0004 135deg,
      #0009 0 270deg,
      #0000 0
    )
    50% / var(--s);
  box-shadow: 0px 5px 9px 3px rgba(0, 0, 0, 0.5);
}

header .idBasket {
  display: flex;
  align-items: center;
  width: 70%;
}

.top {
  padding-bottom: 0px;
  --s: 70px; /* control the size */
  --d: 10px; /* control the depth */
  mask: conic-gradient(var(--_m), #0000 70%, #000 0) 50% / var(--s);
  background-color: #6dc96b; /* the main color */
}

.idBasket h3 {
  margin: auto;
  margin-bottom: 10px;
  color: white;
  font-size: 2vh;
}

.idBasket button {
  margin: auto 2% auto 0%;
  margin-bottom: 10px;
}
