* {
  box-sizing: border-box;
}

.home {
  width: 100%;
}

.body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/src/assets/bg_body.png);
  overflow: hidden;
}

main {
  margin: auto;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/src/assets/bg_main_homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imgLogoHome {
  width: 200px;
  height: auto;
  border-radius: 50%;
  position: relative;
  bottom: 50px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}

.formConnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.inputEmail {
  width: 250px;
  height: 30px;
  background: #e5eadce2;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 10px;
  animation: slideRight 2s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.inputPassword {
  margin-top: 5px;
  width: 250px;
  height: 30px;
  background: #e5eadce2;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 10px;
  animation: slideLeft 2s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.buttonConnect {
  margin-top: 5px;
  width: 250px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  animation: slideTop 2s;
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.buttonConnect:hover {
  background: #9fd968;
  box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
}

a {
  display: block;
  width: 100%;
  color: #3a4b3d;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

a:hover {
  color: whitesmoke;
}
