.shop {
  background-image: url(/src/assets/bg_body.png);
  position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemCard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(0.56 * 100%);
  bottom: 55px;
  overflow-y: scroll;
  position: fixed;
  font-family: "Roboto", sans-serif;
  transition: height 100ms ease-in;
  align-content: flex-start;
}

@media screen and (min-width: 794px) {
  .itemCard-section {
    height: calc(0.7 * 100vh);
  }
}

@media screen and (min-height: 670px) {
  .itemCard-section {
    height: calc(0.59 * 100vh);
  }
}

@media screen and (min-height: 700px) {
  .itemCard-section {
    height: calc(0.6 * 100vh);
  }
}

@media screen and (min-height: 750px) {
  .itemCard-section {
    height: calc(0.7 * 100vh);
  }
}

@media screen and (min-height: 800px) and (min-width: 794px) {
  .itemCard-section {
    height: calc(0.75 * 100vh);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-height: 850px) {
  .itemCard-section {
    height: calc(0.67 * 100vh);
  }
}

@media screen and (min-height: 900px) {
  .itemCard-section {
    height: calc(0.69 * 100vh);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-height: 950px) {
  .itemCard-section {
    height: calc(0.71 * 100vh);
  }
}

@media screen and (min-height: 1000px) {
  .itemCard-section {
    height: calc(0.73 * 100vh);
  }
}

@media screen and (min-height: 1050px) {
  .itemCard-section {
    height: calc(0.75 * 100vh);
  }
}

@media screen and (min-height: 1080px) {
  .itemCard-section {
    height: calc(0.77 * 100vh);
  }
}

.fill-section {
  flex-grow: 1;
}
