* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.itemCardDetailsModal-container {
  position: absolute;
  top: 30%;
  left: 3%;
  color: black;
  background-color: whitesmoke;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1rem;
}

.itemCardDetailsModal-title {
  text-align: center;
}

.imageAndNutriScore-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 1rem;
}

.btnNutriScoreIcon {
  margin: 0 5vw;
  padding: 0.3rem;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
}

.btnA {
  background: rgb(2, 125, 64);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.btnB {
  background: rgb(129, 181, 47);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.btnC {
  background: rgb(246, 197, 6);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.btnD {
  background: rgb(231, 126, 0);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.btnE {
  background: rgb(222, 60, 18);
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
}

.button-modal-details {
  padding: 0.3rem;
  border-radius: 50%;
  background: rgb(147, 206, 3);

  margin-left: 95%;
  transition: transform 0.2s ease-in-out;
}

.button-modal-details:hover {
  transform: scale(1.2);
}
