.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
width:1.5rem;
height:1.2rem;
}