.material-symbols-outlined {
  font-size: 0.9rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

.favorite-icon {
  font-size: 1.2rem;
  color: rgb(94, 94, 94);
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 1, "opsz" 40;
}

.button-quantity-container {
  display: flex;
}

.itemCard-quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
  cursor: pointer;
}
