.itemCard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 100px;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.3) 0px 5px 10px 0px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (min-width: 950px) {
  .itemCard-container {
    width: 45%;
    min-height: 110px;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 85%;
}

.img-details-container {
  max-width: 100%;
  max-height: 100%;
}

.item-details-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #333;
}

.description-details-container {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: center;
}

.description-details-container h2 {
  font-size: 0.9rem;
  margin: 0;
}

.description-details-container p {
  font-size: 0.6rem;
}

.icons-details-container {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.button-quantity-container {
  display: flex;
  margin-top: 0.2rem;
}

.nutriScore-icon {
  margin-right: 0.2rem;
}

.favorite-icon {
  margin-bottom: 0.4rem;
  cursor: pointer;
  animation: animateHeartOut 0.3s linear forwards;
}

.isFavorite {
  color: red;
  /* color: #ffffff; */
  /* background: #333333; */
  text-shadow: white 0px 0px 2px, orange 0px 0px 2px, red 0px 0px 3px;
  animation: animateHeart 0.3s linear forwards;
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 550px) {
  .description-details-container h2 {
    font-size: 1rem;
  }

  .description-details-container p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 750px) {
  .description-details-container h2 {
    font-size: 1.2rem;
  }

  .description-details-container p {
    font-size: 0.8rem;
  }
}
