.search-section > div > select {
  width: 90vw;
  height: 2rem;
  background: #f5f5f5;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
  padding-left: 10px;
}

.search-section > div > select:hover {
  background: #e3fad0;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgb(255, 255, 255);
  color:#3a4b3d;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

@media screen and (min-width: 795px) {
  .search-section > div > select {
    margin-top: 70px;
    width: 30vw;
  }
}
